# Node modules (Berat, jangan diupload)
node_modules/

# Environment Variables (SENSITIF - Jangan diupload!)
.env
config.php     # Jika ada file config PHP berisi password

# Python
__pycache__/
*.py[cod]
venv/

# System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary Uploads (Jangan upload file zip user)
/tmp/validator-uploads/
/frontend/uploads/

# IDE files (Optional)
.vscode/
.idea/

password.js